[merge "unityyamlmerge"]
    name = Unity SmartMerge
    driver = "C:/Program Files/Unity/Hub/Editor/[Version]/Editor/Data/Tools/UnityYAMLMerge.exe" merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
    recursive = binary